<div class="uk-card uk-padding-remove sidenavbar uk-card-body">
    <p class="side-logo">xorem</p>
    <div class="uk-width-1-1@s side-menu uk-width-1-1@m">

        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: false">
            <li class="uk-active"><a href="#"><span class="material-icons-two-tone">
                space_dashboard
                </span>Dashboard</a></li>
            <li class="uk-parent">
                <a href="#"><span class="material-icons-two-tone">
                        person
                        </span> Self Services </a>
                <ul class="uk-nav-sub">
                    <li class="sidenav"><a href="#">Profile
                        </a></li>
                    <li class="sidenav"><a href="#">Leave</a></li>

                    <li class="sidenav"><a href="#">Calendar
                        </a></li>
                    <li class="sidenav"><a href="#">Time Tracker
                        </a></li>
                    <li class="sidenav"><a href="#">Asset Managment</a></li>
                    <li class="sidenav"><a href="#">Benefits
                        </a></li>
                    <li class="sidenav"><a href="#">Bonuses</a></li>
                    <li class="sidenav"><a href="#">Travel Expense
                        </a></li>
                    <li class="sidenav"><a href="#">Travel Requests
                        </a></li>
                    <li class="sidenav"><a href="#">Discipline
                        </a></li>
                    <li class="sidenav"><a href="#">Goals
                        </a></li>
                    <li class="sidenav"><a href="#">Awards
                        </a></li>
                    <li class="sidenav"><a href="#">Promotions
                        </a></li>
                    <li class="sidenav"><a href="#">Transfers
                        </a></li>
                    <li class="sidenav"><a href="#">Exit & Resign
                    </a></li>
                </ul>
            </li>
            <li><a href="#"><span class="material-icons-two-tone">
                event_note
                </span> Attendance</a></li>
            <li class="uk-parent">
                <a href="#"><span class="material-icons-two-tone">
                    next_week
                    </span> Recruitment</a>
                <ul class="uk-nav-sub">
                    <li class="sidenav"><a routerLink="/jobs">Jobs</a></li>
                    <li class="sidenav"><a href="#">Referrals
                    </a></li>
                    <li class="sidenav"><a href="#">Interviews</a></li>
                    <li class="sidenav"><a href="#">Shortlists
                    </a></li>
                    <li class="sidenav"><a href="#">Candidate Selection
                    </a></li>
                    <li class="sidenav"><a href="#">Designation
                    </a></li>
                    <li class="sidenav"><a href="#">Departments</a></li>
                    <li class="sidenav"><a href="#">Skills</a></li>
                    <li class="sidenav"><a href="#">Locations</a></li>
                    <li class="sidenav"><a href="#">Contracts</a></li>
                    <li class="sidenav">
                        <a href="#">Policies</a>
                    </li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#"><span class="material-icons-two-tone">
                    groups
                    </span> Employee </a>
                <ul class="uk-nav-sub">
                    <li class="sidenav"><a href="#">Add</a></li>
                    <li class="sidenav"><a href="#">Manage
                    </a></li>
                    <li class="sidenav"><a href="#">Leave</a></li>

                    <li class="sidenav"><a href="#">Calendar
                    </a></li>
                    <li class="sidenav"><a href="#">Asset Managment</a></li>
                    <li class="sidenav"><a href="#">Benefits
                    </a></li>
                    <li class="sidenav"><a href="#">Bonuses</a></li>

                    <li class="sidenav"><a href="#">Exit & Resign
                    </a></li>
                    <li class="sidenav"><a href="#">Travel Expense
                    </a></li>
                    <li class="sidenav"><a href="#">Travel Requests
                    </a></li>
                    <li class="sidenav"><a href="#">Discipline
                    </a></li>
                    <li class="sidenav"><a href="#">Awards
                    </a></li>
                    <li class="sidenav"><a href="#">Promotions
                    </a></li>
                    <li class="sidenav"><a href="#">Transfers
                    </a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#"><span class="material-icons-two-tone">
                    credit_card
                    </span>Finance</a>
                <ul class="uk-nav-sub">
                    <li class="sidenav">
                        <a href="">Payroll</a>
                    </li>
                    <li class="sidenav">
                        <a href="">Package</a>
                    </li>
                    <li class="sidenav">
                        <a href="">Expenses</a>
                    </li>
                    <li class="sidenav">
                        <a href="">Banks</a>
                    </li>
                </ul>
            </li>
            <li><a href="#"><span class="material-icons-two-tone">
                markunread
                </span>Messages</a></li>
            <li><a href="#"><span class="material-icons-two-tone">
                account_box
                </span>Clients</a></li>
            <li><a href="#"><span class="material-icons-two-tone">
                business
                </span> Projects</a></li>
            <li><a href="#"><span class="material-icons-two-tone">
                task_alt
                </span>Tasks</a></li>
            <li><a href="#"><span class="material-icons-two-tone">
                    folder
                    </span>Files</a></li>
            <li><a href="#"><span class="material-icons-two-tone">
                    contacts
                    </span> Contacts</a></li>
            <li class="uk-parent">
                <a href="#"><span class="material-icons-two-tone">
                            model_training
                            </span>Training</a>
                <ul class="uk-nav-sub">
                    <li class="sidenav">
                        <a href="">Add</a>
                    </li>
                    <li class="sidenav">
                        <a href="">Manage</a>
                    </li>
                    <li class="sidenav">
                        <a href="">Courses</a>
                    </li>
                </ul>
            </li>
            <li><a href="#"><span class="material-icons-two-tone">
                donut_small
                </span> Reports </a></li>
        </ul>
    </div>
</div>
