<div class="topsearch-grid ">
    <div class="uk-inline">
        <button class="uk-button topsearch-category uk-text-left" type="button"> Services <span uk-icon="icon: chevron-right; ratio: 0.6"></span>
        </button>
        <div uk-dropdown uk-dropdown=" mode: click;" class="category-drop">
            <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-nav-header">Search Category</li>
                <li class="uk-active"><a href="#"><span class="material-icons">
                    people
                    </span> Employee</a></li>
                <li class="uk-active"><a href="#"><span class="material-icons-round">
                        widgets
                        </span> Projects</a></li>
            </ul>
        </div>
    </div>
    <form class="uk-search uk-search-default">
        <a href="" class="uk-search-icon-flip " uk-search-icon></a>
        <input class="uk-search-input input-topsearch" type="search" placeholder="Search">
    </form>
</div>