<div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-grid-collapse uk-grid-match uk-text-center" uk-grid>
    <div>
        <div class="uk-card  uk-card-body uk-padding-large">
            <app-svgs svgId="login-logo"></app-svgs>

            <h2 class="login-heading">Forget Password</h2>
            <h4 class="login-subheading">Change password with your phone</h4>

            <a routerLink="/login" class="login-diff-btn uk-button uk-width-1-1 uk-margin-medium-bottom"> Back to sign in</a>

            <form class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1 uk-text-left">
                    <label class="uk-form-label input-label" for="form-stacked-text">Phone No.</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="material-icons-round uk-form-icon input-icon">
                            phone_in_talk
                            </span>
                        <input class="uk-input uk-width-1-1 login-input" placeholder="Phone" type="text">
                    </div>
                </div>
                <div class="uk-width-1-1 uk-text-left">
                    <label class="uk-form-label input-label" for="form-stacked-text">OTP</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="material-icons-round uk-form-icon input-icon">
                            password
                            </span>
                        <input class="uk-input uk-width-1-1 login-input uk-disabled" placeholder="OTP" type="Password">

                    </div>
                </div>
                <div class="uk-width-1-1 uk-text-left">
                    <button routerLink="/change-password" class="uk-button uk-width-1-1 login-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <app-loginside></app-loginside>
    </div>
</div>