 /* Custom SCSS/SASS Files */
 
 @import 'variables';
 @import 'mixins';
 @import 'custom';
 /* UIKit */
 
 @import "variables-theme.scss";
 @import "mixins-theme.scss";
 @import "uikit-theme.scss";
 @import 'material-icons/iconfont/material-icons.css';
 @import "tailwindcss/base";
 @import "tailwindcss/components";
 @import "tailwindcss/utilities";
 @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 p,
 a,
 li {
     font-family: 'Poppins', sans-serif !important;
 }
 
 .login-dotnav>li>a {
     background-color: white;
     border: none;
     padding: 0px !important;
     border-radius: 0px;
     width: 7px;
     height: 7px;
     border-radius: 50%;
 }
 
 .login-dotnav>li.uk-active>a,
 .login-dotnav>li>a:hover {
     width: 25px;
     border-radius: 0px;
     background-color: #ffffff90;
     border: none !important;
     border-radius: 25px;
 }
 
 .login-side {
     background-color: #2C5364;
     height: 100vh;
 }
 
 .login-slider-heading {
     font-size: 14pt;
     color: white;
 }
 
 .login-heading {
     font-size: 18pt;
     color: black;
     font-weight: 600;
     text-align: left;
     margin-top: 40px;
 }
 
 .login-subheading {
     font-size: 10pt;
     color: gray;
     text-align: left;
     margin-top: 4px;
 }
 
 .main-container {
     background-color: #2C536408;
 }