<nav class="uk-navbar-container navbar uk-margin" uk-sticky uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle sidenav" href="#">
            <span class="material-icons-two-tone">
                view_array
                </span>
        </a>
        <a href="">
            <img src="assets/logo/spacex.png" class="company-logo" alt="">
        </a>
        <div class="uk-navbar-item">
            <app-topsearch></app-topsearch>

        </div>

    </div>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav topmenu-icon">

            <li><a href="#"><span class="material-icons-two-tone">
                    add_circle
                    </span></a></li>
            <li><a href="#"><span class="material-icons-two-tone">
                inbox
                </span></a></li>
            <li><a href="#"><span class="material-icons-two-tone">
                        task
                        </span></a></li>
            <li><a href="#"><span class="material-icons-two-tone">
                notifications_none
                </span></a></li>


            <li>
                <a href="#">
                    <img class="profile-nav" src="assets/img/profile-picture.jpg" alt="">
                    <span class="profile-username">Abdul kumshey <br> 
                        <span class="profile-designation">Chief Designer</span> </span>
                </a>
                <div class="uk-navbar-dropdown profile-drop">
                    <ul class="uk-nav uk-navbar-dropdown-nav">

                        <li class=" profile-btn"><a href="#"><span class="material-icons-outlined">
                            drive_file_rename_outline
                            </span> Edit Profile  </a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="logout-btn"><a href="#"><span class="material-icons-round">
                            logout
                            </span> Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>