<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <span class="material-icons">pie_chart</span>
            <!-- Filled -->
            <span class="material-icons-outlined">pie_chart</span>
            <!-- Outlined -->
            <span class="material-icons-round">pie_chart</span>
            <!-- Round -->
            <span class="material-icons-sharp">pie_chart</span>
            <!-- Sharp -->
            <span class="material-icons-two-tone">pie_chart</span>
            <!-- Two Tone -->
        </div>
    </div>
</div>