<form class="uk-grid-small uk-margin-small-top" uk-grid>
    <div class="uk-width-1-4">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Job Title</label>
        <input class="uk-input primary-input " type="text " placeholder="Front End Developer ">
    </div>
    <div class="uk-width-1-4@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Departments</label>
        <input class="uk-input primary-input " type="text " placeholder="Development ">
    </div>
    <div class="uk-width-1-4@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Job Type</label>
        <input class="uk-input primary-input " type="text " placeholder="Freelancing">
    </div>
    <div class="uk-width-1-4@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Experience</label>
        <input class="uk-input primary-input " type="text " placeholder="Entrylevel">
    </div>
    <div class="uk-width-1-4@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Location</label>
        <input class="uk-input primary-input " type="text " placeholder="Bhatkal ">

    </div>
    <div class="uk-width-1-2@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Remote</label>
        <div class="uk-margin uk-grid-small uk-child-width-auto primary-radio uk-grid">
            <label><input class="uk-radio" type="radio" name="radio2" checked> Optional</label>
            <label><input class="uk-radio" type="radio" name="radio2"> Important</label>
            <label><input class="uk-radio" type="radio" name="radio2"> No</label>
        </div>

    </div>
    <div class="uk-width-1-2@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Jobs Description</label>
        <textarea class="uk-textarea primary-textarea" rows="5" placeholder="Jobs Description"></textarea>
    </div>
    <div class="uk-width-1-2@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Job Requirements</label>
        <textarea class="uk-textarea primary-textarea" rows="5" placeholder="Jobs Requirements"></textarea>
    </div>
    <div class="uk-width-1-4@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Country</label>
        <input class="uk-input primary-input " type="text " placeholder="India ">
    </div>
    <div class="uk-width-1-4@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">State / County</label>
        <input class="uk-input primary-input " type="text " placeholder="Karnataka ">
    </div>
    <div class="uk-width-1-4@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">City</label>
        <input class="uk-input primary-input " type="text " placeholder="Bhatkal ">
    </div>
    <div class="uk-width-1-4@s ">
        <label class="uk-form-label primary-input-label" for=" form-stacked-text ">Pincode</label>
        <input class="uk-input primary-input " type="text " placeholder="581320">
    </div>
</form>