<div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-grid-collapse uk-grid-match uk-text-center" uk-grid>
    <div>
        <div class="uk-card  uk-card-body uk-padding-large">
            <app-svgs routerLink="/login" svgId="login-logo"></app-svgs>

            <h2 class="login-heading">Hi, Welcome Back</h2>
            <h4 class="login-subheading">Login with your Email or Phone OTP</h4>

            <a routerLink="/login" class="login-diff-btn uk-button uk-width-1-1"> Sign in with Email</a>
            <p class="signin-with-diff"><span>Or Sign in with Phone</span></p>

            <form class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1 uk-text-left">
                    <label class="uk-form-label input-label" for="form-stacked-text">Phone number</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="material-icons-round uk-form-icon input-icon">
                            phone_in_talk
                            </span>
                        <input class="uk-input uk-width-1-1 login-input" placeholder="Phone" type="text">
                    </div>
                </div>
                <div class="uk-width-1-1 uk-text-left">
                    <label class="uk-form-label input-label" for="form-stacked-text">Password</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="material-icons-round uk-form-icon input-icon">
                            password
                            </span>
                        <input class="uk-input uk-width-1-1 login-input uk-disabled" placeholder="password" type="Password">

                    </div>
                </div>
                <div class="uk-width-1-1 uk-text-left">
                    <button class="uk-button uk-width-1-1 login-submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <app-loginside></app-loginside>
    </div>
</div>